@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
    width: 100vw;
}

.parallax {
    
    background: url("../dist/assets/pincel.jpg") center center no-repeat;
    background-attachment: fixed;
    
    height: 700px;
    width: 1200px;
    background-color: aqua;
}

@media (max-width: 768px) {
    body {
        width: 1000px;
    }
}